.website-title, .logo {
    display: inline-block;
    margin-top: 0px;
    font-size: 20px;
}

.logo {

    margin-bottom: 10px;
    margin-right: 5px;
}


.top-nav {
    height: 50px;
    margin-bottom: 0px;
   
}

.header-content {
    top: 0px;
}

.header-links {
    font-size: 20px;
}